* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkorchid;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

table {
    border: 1px solid blue;
    font-size: 20px;
    text-align: center;
}
th {
    border: 2px dashed red;
    font-size: 20px;
    text-align: center;
    padding: 4px;
    margin: 2px;
}

td {
    border: 1px solid green;
    margin: 1px;
    padding: 2px;
}

.foot {
    border: 4px dotted rgb(108, 8, 223);
    padding: 2px;
    margin: 2px;
}

p {
    font-size: 18px;
    padding: 4px;
    margin: 4px;
    border: 4px outset orange;
    text-align: center;
    color: cyan;
}